<div class="banner">
  <div class="container">
    <h1>Bullet journalling with a <i>kick!</i></h1>
    <h3>Track your habits, tasks, and thoughts all in one place!</h3>
    <div class="d-flex justify-content-center">
      <% if !current_user.nil? %>
        <%= link_to 'Start journalling', new_entry_path, class: 'btn-main' %>
      <% else %>
        <%= link_to 'Start journalling', login_path, class: 'btn-main' %>
      <% end %>
    </div>
  </div>
<div>