$blue: rgba(34, 112, 147, 1.0);
$blue-grey: rgba(34, 112, 147, 0.6);
$ocean-blue: rgba(90, 205, 241, 1);

$green: rgba(98, 218, 160, 1);

$dark-grey: rgba(114, 112, 114, 1.0);
$grey: rgba(114, 112, 114, 0.8);
$transparent-grey: rgba(0, 0, 0, 0.2);
$clear-grey: rgba(210, 210, 210, 0.18);

$purple: rgba(25, 34, 244, 1);
$purple-medium: rgba(25, 32, 244, 0.75);
$purple-lavendar: rgb(130, 97, 201);

$transparent-red: rgba(255, 0, 0, 0.733);
$red-light: rgba(255, 82, 82, 0.8);

$white: rgb(253, 253, 253);
$transparent-white: rgba(255, 255, 255, 0.2);

