$white: rgb(253, 253, 253);
$transparent-white: rgba(255, 255, 255, 0.2);
$orange: rgba(255, 104, 41, 0.9);
$light-orange: rgb(252, 158, 95);
$bright-pink: rgba(245, 39, 88, 0.75);
$maize: #F6C75F;
$teal: rgb(63, 195, 202);
$light-teal: rgb(132, 213, 217);
$grey: #747474;
