<% if @user.errors.any? %>
  <div class="failure pb-2">
    <div class="number-of-errors col-sm-4 p-2">
      Oh no! Please check <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each_with_index do |msg, index| %>
      <li><%= index + 1 %>. <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
