.banner {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0.15)),
        url("Arches hallway.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    h1, h3 {
        color: $white;
    }
    h1 {
        padding-top: 18%;
        padding-bottom: 4%;
        font-size: 6vh;
    }
    h3 {
        font-size: 4vh;
    }
}