.btn {
  color: $white;
  border-radius: 8px;
  text-align: center;
  &:hover {
    color: $white;
  }
  &.-green {
    background-color: $green;
  }
  &.-medium-blue {
    background-color: $medium-blue;
  }
  &.-blue-grey {
    background-color: $blue-grey;
  }
  &.-submit {
    display: block;
  }
}

.btn-main {
  background-color: $purple-lavendar;
  border-radius: 8px;
  color: $white;
  text-align: center;
  padding: 2%;
  margin: 3%;
  box-shadow: 0px 4px 4px $transparent-white;
  transition: all 0.2s;
  a {
    font-size: 3.5vh;
  }
  &:hover {
    color: $white;
    text-decoration: none;
    transform: translateY(-2px);
    box-shadow: 0 4px 4px $transparent-white;
  &:active {
    transform: translateY(-4px);
    box-shadow: 0 4px 4px $transparent-white;    
    }
  }
}

.btn-plus {
  background: $green;
  color: $white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  border: none;
  display: block;
  text-align: center;
  line-height: 2.2;
  &:hover {
    color: $white;
  }
}
