.btn {
  color: $white;
  border-radius: 8px;
  text-align: center;
  &:hover {
    color: $white;
  }
  &.-blue-grey {
    background-color: $blue-grey;
  }
  &.-medium-purple {
    background-color: $medium-purple;
  }
}

.btn-main {
  background-color: $dark-purple;
  border-radius: 8px;
  color: $white;
  text-align: center;
  padding: 2%;
  margin: 3%;
  box-shadow: 0px 4px 4px $transparent-white;
  transition: all 0.2s;
  a {
    font-size: 3.5vh;
  }
  &:hover {
    color: $white;
    text-decoration: none;
    transform: translateY(-2px);
    box-shadow: 0 4px 4px $transparent-white;
  &:active {
    transform: translateY(-4px);
    box-shadow: 0 4px 4px $transparent-white;    
    }
  }
}