.failure {
  color: $transparent-red;
  ul {
    color: $transparent-red;
    margin: 0 0 30px 0;
    list-style-type: none;
  }
}

.number-of-errors {
  color: $white;
  background-color: $transparent-red;
  border-radius: 4px;
  padding: 2px 4px;
  margin: 4px 0;
}