.checkbox {
  margin-top: 10px;
  span {
    margin-left: 5px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.display {
  display: none;
}

input #due_date{
  font-size: 12px;
}