.header {
  color: $purple-medium;
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 12px;
}

.stats-header {
  font-size: 20px;
}

.stat-header {
  font-size: 18px;
}

.section-header {
  font-size: 22px;
  color: $red-light;
}

.entry-header {
  font-size: 18px;
  font-weight: bold;
}

.entry-date {
  font-size: 14px;
}

.entry-section-title {
  font-size: 16px;
  font-weight: bold;
}

.mood-emoji {
  font-size: 22px;
}
