.fa-bars {
  color: $purple-medium;
  font-size: 20px;
}

.fa-lightbulb {
  &.-red {
    color: rgba(255, 82, 82, 0.95);
  }
  &.-orange {
    color: rgb(255, 218, 7);
  }
  &.-green {
    color: rgba(90, 205, 241, 1);
  }
}