.navbar {
  background-color: $white;
}

.navbar-brand a {
  text-decoration: none;
  color: $lavendar;
  font-family: 'Overlock', cursive;    ;
  font-size: 24px;
  letter-spacing: 0.05em;
  &:hover {
    color: $lavendar;
  }
}

.nav-link {
  color: $grey;
  font-size: 14px;
  &:hover {
    color: $blue-grey;
  }
}

nav ul li .underline {
  height: 3px;
  width: 0%;
  background-color: transparent;
  transition: width 0.2s, background-color 0.5s;
	margin: 0 auto;
}

nav ul li:hover .underline {
  background-color: $blue-grey;
  width: 100%;
}

nav ul li:active a, nav ul li:active .underline {
  transition: none;
  color: $blue-grey;
}

.dropdown-menu {
  background-color: $white;
  padding: 2px;
  min-width: 6rem;
  a {
    color: $grey;
    font-size: 14px;
    text-align: center;
    &:hover {
      background-color: $white;
      color: $blue-grey;
      }
  }
}

.navbar-toggler {
    border: 2px solid $blue-grey;
    border-radius: 8px;
}
  
.fa-bars {
  color: $blue-grey;
}

.navbar-linear-gradient {
  background: linear-gradient(90.82deg, $lavendar -1.39%, $blue-grey 99.26%);
  height: 1vh;
  width: 100%;
}