.navbar {
  background-color: $white;
}

.navbar-brand a {
  text-decoration: none;
  background: linear-gradient(to right, $purple 0%, $purple-lavendar 50%, $ocean-blue 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  font-family: 'Overlock', cursive;    ;
  font-size: 24px;
  letter-spacing: 0.05em;
}

.nav-link {
  color: $grey;
  font-size: 14px;
  &:hover {
    color: $purple-medium;
  }
}

nav ul li .underline {
  height: 3px;
  width: 0%;
  background-color: transparent;
  transition: width 0.2s, background-color 0.5s;
	margin: 0 auto;
}

nav ul li:hover .underline {
  background-color: $purple-medium;
  width: 100%;
}

nav ul li:active a, nav ul li:active .underline {
  transition: none;
  color: $purple-medium;
}

.dropdown-menu {
  background-color: $white;
  padding: 2px;
  min-width: 6rem;
  a {
    color: $grey;
    font-size: 14px;
    text-align: center;
    &:hover {
      background-color: $white;
      color: $purple-medium;
      }
  }
}

.navbar-toggler {
  border: 1.5px solid $purple-medium;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
  
.fa-bars {
  color: $purple-medium;
  font-size: 16px;
}
