@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "config/colors";
@import "config/fonts";

@import "components/index";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    background-color: $clear-grey;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.2px;
    color: $dark-grey;
    font-size: 14px;
}

.main-content {
    padding-bottom: 57px;
}

.stat-number {
    font-weight: 700;
    font-size: 20px;
    color: $purple-medium;
}

.nil-placeholder {
    color: $ocean-blue;
    font-size: 18px;
    font-style: italic;
}