<div class="container">
  <div class="footer p-3 fixed-bottom d-flex align-items-center justify-content-between">
    <div class="social-media-links d-flex">
      <a href="https://github.com/nicolesano"><i class=" pl-4 fab fa-github"></i><a>
      <a href="https://twitter.com/nicolesanoo"><i class=" pl-4 fab fa-twitter"></i></a>
    </div>
    <div class="copyright">©2020 Journies</div>
  </div>
</div>